<div
  class="bg-image"
  [ngStyle]="{ 'background-image': 'url(' + backgroungImageUrl + ')' }">

  <div class="bg-grey">
    <div class="weather-info">
      <div style="text-align: center;">
        <img
          class="weather-icon"
          src="http://openweathermap.org/img/w/{{weatherDetails.icon}}.png"
          alt="weather-icon"/>
        <link
          rel="stylesheet"
          type="text/css"
          href="//fonts.googleapis.com/css?family=Raleway"/>
        <p class="temperature">{{weatherTemperature}}&deg;<span style="font-size: 36px;">c</span></p>
        <hr width="25px" />
        <p class="status">
          {{weatherDetails.main}}
          <br>
          <span style="font-size: 18px;">{{weatherDetails.description}}</span>
        </p>
      </div>
    </div>

    <div class="location-icon">
      <img
        src="assets/img/location-pin.png"
        width="20"
        height="20"/>
    </div>
    <div class="location"><p>{{locationName}}</p></div>
  </div>
</div>
